__pycache__/
.DS_Store
*.pyc
*.pyo
*.pyd
.coverage
.coverage.*
.mypy_cache/
.pytest_cache/
.ruff_cache/
.hypothesis/
.tox/
.nox/
.venv/
.python-version
.env
.env.*
.idea/
.vscode/
build/
dist/
*.egg-info/
runs/
tmp/
